---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import Navigation from './Navigation.astro';
import Typewriter from './Typewriter.svelte';
import logo from '../assets/logo.webp';

const iconSize = 48;
---

<div class="hero">
	<a href="#" class="logo">
		<Image src={logo} alt="Coffee cup with an M" />
	</a>
	<Typewriter client:load />
	<Navigation hero={true} />
	<nav class="social">
		<a href="https://github.com/mocha8686" target="_blank">
			<Icon name="iconoir:github" size={iconSize} />
			GitHub
		</a>
		<a href="mailto:june.mocha8686@gmail.com">
			<Icon name="iconoir:send-mail" size={iconSize} />
			Email
		</a>
	</nav>
	<div class="down">
		<div class="arrow-container">
			<Icon name="iconoir:nav-arrow-down" size={iconSize} />
		</div>
	</div>
</div>

<script>
	document.addEventListener('scroll', () => {
		const classList = document.querySelector('.arrow-container')?.classList;
		if (window.scrollY > 0) {
			classList?.add('hidden');
		} else {
			classList?.remove('hidden');
		}
	});
</script>
